.collapse {
  font-size: 18px;
}

.collapse-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 52px;
  padding: 10px 15px;
  background-color: #ff6060;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.collapse-header:hover {
  background-color: var(--primary-color-accent);
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  border-radius: 0 0 5px 5px;
  background-color: var(--secondary-color);
}

.content-inner {
  padding: 20px;
  font-weight: 400;
  color: var(--primary-color);
}

.collapse-arrow {
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .collapse {
    font-size: 13px;
  }

  .collapse-header {
    height: 30px;
  }

  .content-inner {
    padding: 10px;
  }

  .collapse-arrow {
    width: 16px;
  }
}