header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 50px;
}

.logo {
  max-height: 211px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

a {
  text-decoration: inherit;
  color: #ff6060;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--primary-color-accent);
  transition: all 0.3s ease;
}

a.active {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  header {
    gap: 20px;
  }
  
  .logo {
    max-height: 145px;
  }

  nav {
    gap: 20px;
  }
  
  nav a {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .logo {
    width: 145px;
    height: auto;
  }  
}