.hero-data-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.hero-data-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  
  > h1, p {
    margin: 0;
  }

  > h1 {
    font-size: 36px;
    font-weight: 500;
  }

  > p {
    margin-top: 5px;
  }

  > .tags-container {
    margin-top: 20px;
  }
}

.hero-data-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.hero-dropdowns {
  display: flex;
  flex-flow: row nowrap;
  gap: 100px;
}

.hero-dropdowns div {
  width: 100%;
  font-size: 18px;
}
