.hero-data-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.hero-data-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  
  > h1 {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
  }
  
  > p {
    margin: 5px 0 0 0;
  }

  > .tags-container {
    margin-top: 20px;
  }
}

.hero-data-right {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.hero-dropdowns {
  display: flex;
  flex-flow: row nowrap;
  gap: 10%;
}

.hero-dropdowns div {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .hero-data-container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0;
  }

  .hero-data-left {
    > h1 {
      font-size: 18px;
    }

    > p {
      font-size: 14px;
    }
  }

  .hero-data-right {
    margin-top: 20px;
    align-items: center;
    flex-direction: row-reverse;
    align-self: normal;
  }

  .hero-dropdowns {
    flex-direction: column;
    gap: 20px;
  }
}
