.tags-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  padding: 0 10px;
}

.tag span {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .tag {
    height: 18px;
    min-width: 84px;
    border-radius: 5px;
  }

  .tag span {
    font-size: 10px;
  }
}
