.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}

.collapse-container {
  max-width: 1020px;
  display: flex;
  margin: 30px auto 0 auto;
  flex-flow: column nowrap;
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .collapse-container {
    gap: 20px;
  }
}
