.not-found {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}

.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound-text {
  margin: 100px 0 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: #ff6060;
}

.notfound-container h1 {
  font-size: 288px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

.notfound-container h2 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.notfound-container a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}
